

body {
  width: 50%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom:80px;
  /*
  font-family: "Palatino","Times New Roman", Times, serif;
  font-family: sans-serif;
  text-align: left;
  font-family: 'Courier Prime', monospace;
  */
  font-family: 'Roboto', sans-serif;
  font-size: 105%;
  line-height: 130%;
}

/*
header {
    padding: 15px;
}
*/

footer {
    padding: 15px;
    text-align: right;
    color: rgb(77, 74, 74);
}

p {
    /*
    font-weight:300;
    line-height: 25px;
    */
    font-size: 120%;
    line-height: 150%;
    /*font-family: "Times New Roman", Times, serif;*/
  }

  /*
.lastResult {
  color: white;
  padding: 3px;
}
*/

img {
    width: 60%;
    height: auto;
    padding-top: 50px;
  }

  /*
  #hp  {
    float: left;    
    margin: 0 15px 0 0;
    max-width: 30%;
    height: auto;
  }
  */

ol {
    list-style-type: none;
    padding-left: 0;
    line-height: 150%;
}

li {
    margin: 10px 0;
    line-height: 150%;
}


h1 {
  color: rgb(35, 105, 171);
  line-height: 130%;
}
h1.big_title {
  color: rgb(35, 105, 171);
  font-size: 220%;
}

h2 {
  color: black;
  font-size: 160%;
  line-height: 120%;
}

h3 {
    padding-top: 18px;
}


  .project_list {
    
    list-style-type: none;
    /*
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;

    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    */
  }


a:link {
    /*color: rgb(212, 122, 137);*/
    color: rgb(15, 144, 147);
    text-decoration: none;
  }
  
a:visited {
    /*color: rgb(18, 182, 18);*/
    color: rgb(204, 107, 208);
    text-decoration: none;
  }

a:hover {
    background-color: #ee5146;
    color: white;
    text-decoration: none;
    display: inline-block;
}


.final_p {
    padding-top:"10px";
}



.highlight_p {
  color:rgb(15, 144, 147);
}




  /*
html {
    cursor: none;
  }

  #circularcursor {
    background-color: transparent;
    border:1px solid black;    
    height:15px;
    width:15px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
  }
*/


/* styles of the notes */

.R_output{
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

figure {
  display: inline-block;
  text-align: center;
  /*
  border: 1px dotted gray;
  margin: 5px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
/*
figure figcaption {
  border: 1px dotted blue;
}
*/











