

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  font-family: sans-serif;
}

p {
    font-family: "Palatino", "Times New Roman", Times, serif;
  }

.lastResult {
  color: white;
  padding: 3px;
}

img {
    width: 50%;
    height: auto;
  }